@font-face {
  font-family: "Modern No. 20";
  font-style: normal;
  font-weight: normal;
  src: local("Modern No. 20"), url("MOD20.woff") format("woff");
}
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
}
body {
  background-color: #904a42;
}
.container {
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 80vh;
}
.text-container {
  width: fit-content;
  text-align: left;
  margin: auto;
  color: #bfb2a6;
  font-family: "Modern No. 20";
  font-size: 10px;
}
.teaser {
  font-family: "Times New Roman";
  margin-top: 52vh;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 0.9em;
  max-width: 80vw;
}
.header {
  font-weight: 900;
  font-size: 4em;
  color: #dbd2c9;
  margin-top: 0.18em;
}
.email {
  font-weight: 600;
  font-size: 2em;
  text-decoration: underline;
}
@media (min-width: 375px) {
  .text-container {
    font-size: 12px;
  }
}
@media (min-width: 425px) {
  .text-container {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .text-container {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .text-container {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .text-container {
    font-size: 24px;
  }
}
a.naked,
a.naked:link,
a.naked:visited,
a.naked:hover,
a.naked:active {
  color: inherit !important;
  text-decoration: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}
::selection {
  background: #d2f62a;
}
::-moz-selection {
  background: #d2f62a;
}
